html {
    font-family: sans-serif;
  }
#mainContainer{
    background-color:whitesmoke;
    display: flex ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:250px;
    width:45%;
    border: 3px solid #D6E4E5;
    border-radius: 12px;
    padding: 10px;
    margin-top: 5%;
    margin-left: 26%;
}

.btn{
    background-color: #5dbea3;
    border-radius: 5px;
    height: 40px;
    width:90px;
    font-size: x-large;
}
.head{
   
    font-size: large; 
}

.digit{
    font-size: x-large;  
}

.txt{
    font-size:medium;  
}


