#main{

    display: grid;
    grid-gap:2px;
    grid-template-areas: 'side header header header header header header'
                         'side middle1 middle1 middle1 middle1 middle1 middle1'
                         'side footer footer footer footer footer footer';
}

.header{
    grid-area: header;
    height: 10vh;
    text-align: center;
    background-color: whitesmoke;
}

.middle{
    display: grid;
    grid-gap:3px;
    grid-template-columns: 1fr 1fr;
    grid-area: middle1;
    height: 100vh;
    /* text-align: center; */
    background-color: whitesmoke;
    /* border:1px solid black; */
}

.footer{
    height: 10vh;
    grid-area: footer;
    text-align: center;
    background-color: whitesmoke;
}



.side{
    grid-area: side;
    text-align: center;
    background-color: whitesmoke;
}
.item1{
    text-align: center;
    border:1px solid rgb(240, 174, 174);
}
.item2{
    border:1px solid rgb(240, 174, 174);
}