<div class="grid text-center main-card">
  
  {{#each data}}
  <div class="g-col-4 ">
  <div class="card" style="width: 20rem;">
    <div class="card-image-container">
    <img  src={{this.img}} class="cimage" alt="book-img">
    </div>

  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.discription}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
{{/each}}
  </div>



